In [1]:
from bs4 import BeautifulSoup
import pandas as pd
import re
import numpy as np

In [2]:
import sys
sys.getdefaultencoding()

'utf-8'

Open the questionnaire file (word document version of the questionnaire saved as html):

In [3]:
questionnaire_file = open("FF_m1_Questionnaire_2013.htm", "r")

In [4]:
soup=BeautifulSoup(questionnaire_file, "html.parser")

In [5]:
ps=[p for p in soup.find_all('p')]

In [6]:
ps[164:168]

[<p class="MsoNormal" style="margin-left:1.0in;line-height:150%;text-autospace:
 none"><span style='font-size:11.0pt;line-height:150%;font-family:"Arial",sans-serif;
 color:black'>YES, MARRIED TO MOTHER..................... 1 <b>(SKIP TO B22 ON
 P.14)</b></span></p>,
 <p class="MsoNormal" style="margin-left:1.0in;line-height:150%;text-autospace:
 none"><span style='font-size:11.0pt;line-height:150%;font-family:"Arial",sans-serif;
 color:black'>NO, NOT MARRIED TO MOTHER.............. 2 </span></p>,
 <p class="MsoNormal" style="line-height:150%;text-autospace:none"><span style='font-size:11.0pt;line-height:150%;font-family:"Arial",sans-serif;
 color:black'> </span></p>,
 <p class="MsoNormal" style="text-autospace:none"><span style="position:relative;
 z-index:251606016"><span style="position:absolute;left:-1px;top:-1px;
 width:566px;height:3px"><img height="3" src="FF_f1_Questionnaire_2013_files/image007.gif" width="566"/></span></span><b><span style='font-size:11.0pt;font-family:"Arial",sans-serif;color:black'> </span></b></p>]

Opening the excel file with all the questions for p6, using the pandas python library:

In [7]:
df=pd.read_excel("FFCm1.xlsx") #this is an excel file with all the questions for p6

In [8]:
df.head()

   position      name                                            varlab  probe
0       435   mothid1                             Encrypted mother's ID    NaN
1       436  m1intmon                            Mother interview month    NaN
2       437   m1intyr                             Mother interview year    NaN
3       438   m1lenhr    What was the total length of interview - Hours    NaN
4       439  m1lenmin  What was the total length of interview - Minutes    NaN

In [9]:
df.shape

(331, 4)

In [10]:
reg = re.compile(r'(?P<section>[A-Za-z]*\d*)(?P<rest>.*)')

def format_q_num(name):
    """takes in the question numbers in the name column and outputs them in the format
    they appear in the text"""
    name=name.lstrip('m1')
    name=reg.search(name)
    section=name.group('section').upper()
    rest=name.group('rest').upper()
    return section+rest

In [11]:
df['question_number']=df.name.apply(lambda x: format_q_num(x))

In [12]:
df['multiple_answers']=df.question_number.apply(lambda x: 1 if re.match('[A-Z]\d*[A-Z]\d*',x) else 0) 
#adds a column where 1 indicates that it is one of the questions with multiple entries in the data frame
#I think these are mostly (only?) the "select all that apply" questions

In [13]:
df[66:75]

,position,name,varlab,probe,question_number,multiple_answers
66,501,m1b9,Do you and BF have plans to live together or m...,NaN,B9,0
67,502,m1b9a1,"Reasons no plan to live tgthr, No need to marry?",NaN,B9A1,1
68,503,m1b9a2,"Reasons no plan to live tgthr, Timing problem ?",NaN,B9A2,1
69,504,m1b9a3,"Reason no plan to live tgthr, Financial Reasons ?",NaN,B9A3,1
70,505,m1b9a4,"Reasons no plan to live tgthr, Distance ?",NaN,B9A4,1
71,506,m1b9a5,"Reasons no plan to live tgthr, Incarceration ?",NaN,B9A5,1
72,507,m1b9a6,"Reasons no plan to live tgthr, Housing reasons ?",NaN,B9A6,1
73,508,m1b9a7,"Reason no plan to live tgthr, Relationship re...",NaN,B9A7,1
74,509,m1b9a8,"Reasons no plan to live tgthr, Drug problem ?",NaN,B9A8,1

In [14]:
def find_question(q_number):
    """finds where the question number appears in the text - only if it only appears once"""
    ps_text = []
    ps_idx = []
    ps_startswith = []
    for idx, p in enumerate(ps):
        if re.match('[A-Z]\d*[A-Z]',q_number):
            if q_number in p.get_text():
                if p.get_text().lstrip().startswith(q_number+'.'):
                    ps_text.append(p.get_text().lstrip().split('.')[1])
                    ps_idx.append(idx)
                else:
                    ps_text.append(p.get_text().lstrip().split('.')[0])
                    ps_idx.append(idx)
        else:
            if q_number+"." in p.get_text():
                if p.get_text().lstrip().startswith(q_number+"."):
                    ps_text.append(p.get_text().lstrip().split('.')[1])
                    ps_idx.append(idx)
    if len(ps_idx)!=1:
        return np.nan, np.nan
    else:
        return ps_text[0].replace("\n"," ").strip(), ps_idx[0]

In [15]:
s = (find_question('B5'))
s

('I’m going to read you some things that couples often do together', 219)

In [16]:
def find_probe(q_number):
    probe = re.findall('[A-Z]{,1}\d{,2}', q_number)[0]
    return find_question(probe)[0]

In [17]:
find_probe('A3')

'Have you held the [baby/babies]?'

In [18]:
df.drop(['probe'],axis=1,inplace=True)

In [19]:
df = df.drop(df.index[0:16])
df.index = range(len(df))

In [20]:
df

,position,name,varlab,question_number,multiple_answers
0,451,m1a3,Have you picked up a (name/names) for the (bab...,A3,0
1,452,m1a4,Is respondent married to baby's father?,A4,0
2,453,m1a5,Will the baby (babies) have the father's last ...,A5,0
3,454,m1a6,Will the father's name be on the birth certifi...,A6,0
4,455,m1a7,Has BF visited you in the hospital?,A7,0
5,456,m1a8,When are you going home?,A8,0
6,457,m1a9,Do you feel ready to go home or would you rath...,A9,0
7,458,m1a10,Int chk: Is respondent married to (BF)?,A10,0
8,459,m1a11a,Will the baby live with mother?,A11A,1
9,460,m1a11b,Will the baby live with father?,A11B,1
10,461,m1a11c,Will baby live with other relatives?,A11C,1
11,462,m1a11d,Will baby live with non-relatives?,A11D,1
12,463,m1a12,Do you have other biological children?,A12,0
13,464,m1a12a,How many other biological children do you have?,A12A,1
14,465,m1a13,Did you visit a doctor/other health care profe...,A13,0
15,466,m1a13a,In which month of pregnancy did you 1st see do...,A13A,1
16,467,m1a15,How are you paying for the baby's birth?,A15,0
17,468,m1a16,Who does the baby looks like?,A16,0
18,469,cm1age,Constructed - Mother's age (years),CM1AGE,1
19,470,cm1bsex,Constructed - Focal baby's gender,CM1BSEX,1
20,471,cm1lbw,Constructed - Low Birth Weight?,CM1LBW,1
21,472,cm1numb,Constructed - Number of babies born at current...,CM1NUMB,1
22,473,m1b0,Int chk: Is father unknown?,B0,0
23,474,m1b1a,How many years did you know Baby's Father befo...,B1A,1
24,475,m1b1b,How many months did you know Baby's Father bef...,B1B,1
25,476,m1b2,Int chk: Is respondent married (OFFICIAL MARRI...,B2,0
26,477,m1b3,Which statement best describes your current re...,B3,0
27,478,m1b4a,"Why did rom rel end with (BF), Financial Reaso...",B4A,1
28,479,m1b4b,"Why did rom rel end with (BF), Distance (Don't...",B4B,1
29,480,m1b4c,"Why did rom rel end with (BF), Incarceration ?",B4C,1
...,...,...,...,...,...
285,736,m1i2d1,Int Chk: Is father unknown?,I2D1,1
286,737,m1i2i,In what mo did you last work 2 weeks or more a...,I2I,1
287,738,m1i2ii,In what yr did you last work 2 weeks or more a...,I2II,1
288,739,m1i2iii,Never worked 2 consecutive weeks?,I2III,1
289,740,m1i3,What is the highest grade/years of school that...,I3,0
290,741,m1i4,What is BF's race?,I4,0
291,742,m1i4a,Is BF of Hispanic/Latino origin or descent?,I4A,1
292,743,m1i4b,"Is BF Mexican, Puerto Rican, Cuban or other Hi...",I4B,1
293,744,m1i6,"What was BF doing most of last week (working, ...",I6,0
294,745,m1i6a1,In what mo did BF last work 2 weeks or more at...,I6A1,1
295,746,m1i6a2,In what yr did BF last work 2 weeks or more at...,I6A2,1
296,747,m1i6a3,BF never workd 2 consecutive weeks?,I6A3,1
297,748,m1i7,Does BF engage in any activities other than re...,I7,0
298,749,m1i8,Does BF have physical/health condition that li...,I8,0
299,750,m1i9,Does BF have a problem keeping a job/friends b...,I9,0
300,751,m1i10,Int chk: Is BF married or living with baby's m...,I10,0
301,752,m1i11,Where does BF live most of the time?,I11,0
302,753,m1j1a,In last yr did you have income from earnings?,J1A,1
303,754,m1j1b,In last yr did you have income from public ass...,J1B,1
304,755,m1j1c,In last yr did you have income from Unem.ins/w...,J1C,1
305,756,m1j1d,In last yr did you have income from from famil...,J1D,1
306,757,m1j1e,In last yr did you have no income?,J1E,1
307,758,m1j2a,"In last 12 mo, about how much money did you re...",J2A,1
308,759,m1j2b,"In 12 mo, about how much money did you receive...",J2B,1
309,760,m1j2c,"In last 12 mo, about how much money did you re...",J2C,1
310,761,m1j2d,"In last 12 mo, about how much money did you re...",J2D,1
311,762,mx1j2,"In the last 12 months, about how much money di...",X1J2,1
312,763,m1j3,What was your total household income before ta...,J3,0
313,764,m1j4,What would be the hourly wage in order for you...,J4,0
314,765,m1j5,Do you own a car?,J5,0

In [21]:
for i in range(len(df.question_number)):
    q_number = df.loc[i,'question_number']
    if re.match('^[A-Z]{,1}\d{,2}', q_number):
        df.loc[i,'probe'] = find_probe(q_number)
    else:
        df.loc[i,'probe'] = "None"

In [22]:
df

,position,name,varlab,question_number,multiple_answers,probe
0,451,m1a3,Have you picked up a (name/names) for the (bab...,A3,0,Have you held the [baby/babies]?
1,452,m1a4,Is respondent married to baby's father?,A4,0,Will the (baby/babies) have your last name?
2,453,m1a5,Will the baby (babies) have the father's last ...,A5,0,Will your name be on the birth certificate?
3,454,m1a6,Will the father's name be on the birth certifi...,A6,0,Do you have any other biological children?
4,455,m1a7,Has BF visited you in the hospital?,A7,0,Who (does/do) the (baby/babies) look like?
5,456,m1a8,When are you going home?,A8,0,NaN
6,457,m1a9,Do you feel ready to go home or would you rath...,A9,0,NaN
7,458,m1a10,Int chk: Is respondent married to (BF)?,A10,0,NaN
8,459,m1a11a,Will the baby live with mother?,A11A,1,NaN
9,460,m1a11b,Will the baby live with father?,A11B,1,NaN
10,461,m1a11c,Will baby live with other relatives?,A11C,1,NaN
11,462,m1a11d,Will baby live with non-relatives?,A11D,1,NaN
12,463,m1a12,Do you have other biological children?,A12,0,NaN
13,464,m1a12a,How many other biological children do you have?,A12A,1,NaN
14,465,m1a13,Did you visit a doctor/other health care profe...,A13,0,NaN
15,466,m1a13a,In which month of pregnancy did you 1st see do...,A13A,1,NaN
16,467,m1a15,How are you paying for the baby's birth?,A15,0,NaN
17,468,m1a16,Who does the baby looks like?,A16,0,NaN
18,469,cm1age,Constructed - Mother's age (years),CM1AGE,1,NaN
19,470,cm1bsex,Constructed - Focal baby's gender,CM1BSEX,1,NaN
20,471,cm1lbw,Constructed - Low Birth Weight?,CM1LBW,1,NaN
21,472,cm1numb,Constructed - Number of babies born at current...,CM1NUMB,1,NaN
22,473,m1b0,Int chk: Is father unknown?,B0,0,NaN
23,474,m1b1a,How many years did you know Baby's Father befo...,B1A,1,NaN
24,475,m1b1b,How many months did you know Baby's Father bef...,B1B,1,NaN
25,476,m1b2,Int chk: Is respondent married (OFFICIAL MARRI...,B2,0,NaN
26,477,m1b3,Which statement best describes your current re...,B3,0,Which of the following statements best describ...
27,478,m1b4a,"Why did rom rel end with (BF), Financial Reaso...",B4A,1,Why did your romantic relationship with [BABY’...
28,479,m1b4b,"Why did rom rel end with (BF), Distance (Don't...",B4B,1,Why did your romantic relationship with [BABY’...
29,480,m1b4c,"Why did rom rel end with (BF), Incarceration ?",B4C,1,Why did your romantic relationship with [BABY’...
...,...,...,...,...,...,...
285,736,m1i2d1,Int Chk: Is father unknown?,I2D1,1,Have you ever received skills training from a ...
286,737,m1i2i,In what mo did you last work 2 weeks or more a...,I2I,1,Have you ever received skills training from a ...
287,738,m1i2ii,In what yr did you last work 2 weeks or more a...,I2II,1,Have you ever received skills training from a ...
288,739,m1i2iii,Never worked 2 consecutive weeks?,I2III,1,Have you ever received skills training from a ...
289,740,m1i3,What is the highest grade/years of school that...,I3,0,"Have you ever attended a business college, voc..."
290,741,m1i4,What is BF's race?,I4,0,Have you ever served in the military?
291,742,m1i4a,Is BF of Hispanic/Latino origin or descent?,I4A,1,Have you ever served in the military?
292,743,m1i4b,"Is BF Mexican, Puerto Rican, Cuban or other Hi...",I4B,1,Have you ever served in the military?
293,744,m1i6,"What was BF doing most of last week (working, ...",I6,0,NaN
294,745,m1i6a1,In what mo did BF last work 2 weeks or more at...,I6A1,1,NaN
295,746,m1i6a2,In what yr did BF last work 2 weeks or more at...,I6A2,1,NaN
296,747,m1i6a3,BF never workd 2 consecutive weeks?,I6A3,1,NaN
297,748,m1i7,Does BF engage in any activities other than re...,I7,0,NaN
298,749,m1i8,Does BF have physical/health condition that li...,I8,0,NaN
299,750,m1i9,Does BF have a problem keeping a job/friends b...,I9,0,NaN
300,751,m1i10,Int chk: Is BF married or living with baby's m...,I10,0,NaN
301,752,m1i11,Where does BF live most of the time?,I11,0,NaN
302,753,m1j1a,In last yr did you have income from earnings?,J1A,1,"Last week, did you do any regular work for pay?"
303,754,m1j1b,In last yr did you have income from public ass...,J1B,1,"Last week, did you do any regular work for pay?"
304,755,m1j1c,In last yr did you have income from Unem.ins/w...,J1C,1,"Last week, did you do any regular work for pay?"
305,756,m1j1d,In last yr did you have income from from famil...,J1D,1,"Last week, did you do any regular work for pay?"
306,757,m1j1e,In last yr did you have no income?,J1E,1,"Last week, did you do any regular work for pay?"
307,758,m1j2a,"In last 12 mo, about how much money did you re...",J2A,1,Are you currently looking for a regular job?
308,759,m1j2b,"In 12 mo, about how much money did you receive...",J2B,1,Are you currently looking for a regular job?
309,760,m1j2c,"In last 12 mo, about how much money did you re...",J2C,1,Are you currently looking for a regular job?
310,761,m1j2d,"In last 12 mo, about how much money did you re...",J2D,1,Are you currently looking for a regular job?
311,762,mx1j2,"In the last 12 months, about how much money di...",X1J2,1,NaN
312,763,m1j3,What was your total household income before ta...,J3,0,How long have you been looking for work?
313,764,m1j4,What would be the hourly wage in order for you...,J4,0,What would the hourly wage have to be in order...
314,765,m1j5,Do you own a car?,J5,0,In what month and year did you last work at a ...

In [23]:
df['ps_text'], df['ps_idx'] = zip(*df['question_number'].map(find_question))

In [24]:
df[24:29]

,position,name,varlab,question_number,multiple_answers,probe,ps_text,ps_idx
24,475,m1b1b,How many months did you know Baby's Father bef...,B1B,1,NaN,B1A WRITE IN YEARS oo ...,162.0
25,476,m1b2,Int chk: Is respondent married (OFFICIAL MARRI...,B2,0,NaN,NaN,NaN
26,477,m1b3,Which statement best describes your current re...,B3,0,Which of the following statements best describ...,Which of the following statements best describ...,168.0
27,478,m1b4a,"Why did rom rel end with (BF), Financial Reaso...",B4A,1,Why did your romantic relationship with [BABY’...,"B4A FINANCIAL REASONS (DON’T HAVE WORK, M...",205.0
28,479,m1b4b,"Why did rom rel end with (BF), Distance (Don't...",B4B,1,Why did your romantic relationship with [BABY’...,B4B DISTANCE (DON’T LIVE IN SAME TOWN),206.0

In [25]:
np.isnan(df.ps_idx).sum() #number of questions where the question number doesn't appear or appears more than once

121

In [26]:
print(df.ps_text[16])
print(df.ps_idx[16])

nan
nan

In [27]:
#get index of <p> tag for the next question so we can split the questions (can't just shift because some questions have more than one answer or missing values)
all_idx=np.array(df.ps_idx)
all_idx=all_idx[~np.isnan(all_idx)]
all_idx=np.append(all_idx, [len(ps)])
df['ps_idx_next']=df.ps_idx.apply(lambda x: all_idx[all_idx > x].min() if ~np.isnan(x) else np.nan)

In [28]:
df[42:43]

,position,name,varlab,question_number,multiple_answers,probe,ps_text,ps_idx,ps_idx_next
42,493,m1b6e,When you and BF tgthr how often did you disagr...,B6E,1,The following is a list of subjects on which c...,Drinking or drug use ?,246.0,247.0

In [29]:
a3=ps[105:110]
a3

[<p class="MsoNormal" style="line-height:150%;text-autospace:none"><b><span style='font-size:11.0pt;line-height:150%;font-family:"Arial",sans-serif;
 color:black'>A2.</span></b><span style='font-size:11.0pt;line-height:150%;
 font-family:"Arial",sans-serif;color:black'> Were you present at the birth?</span></p>,
 <p class="MsoNormal" style="margin-left:1.0in;line-height:150%;text-autospace:
 none"><span style='font-size:11.0pt;line-height:150%;font-family:"Arial",sans-serif;
 color:black'>YES................................................................ 1</span></p>,
 <p class="MsoNormal" style="margin-left:1.0in;line-height:150%;text-autospace:
 none"><span style='font-size:11.0pt;line-height:150%;font-family:"Arial",sans-serif;
 color:black'>NO................................................................. 2</span></p>,
 <p class="MsoNormal" style="text-indent:.5in;line-height:150%;text-autospace:
 none"><span style="position:relative;z-index:251601920;left:-1px;top:11px;
 width:614px;height:14px"><img height="3" src="FF_f1_Questionnaire_2013_files/image003.gif" width="614"/></span><b><span style='font-size:11.0pt;line-height:150%;font-family:"Arial",sans-serif;
 color:black'> </span></b></p>,
 <p class="MsoNormal" style="line-height:150%;text-autospace:none"><b><span style='font-size:11.0pt;line-height:150%;font-family:"Arial",sans-serif;
 color:black'>A3.</span></b><span style='font-size:11.0pt;line-height:150%;
 font-family:"Arial",sans-serif;color:black'> Have you held the [baby/babies]?</span></p>]

In [30]:
consequitivedots = re.compile(r'\.{3,}')

In [31]:
combined = [(p.find_previous('p').get_text() + p.get_text()) for p in a3]

In [32]:
text = ''
j = 0
for p in a3:
    print(j)
    print(p.get_text())
    text = text + ' ' + p.find_previous('p').get_text()
    j += 1

0
A2. Were you present at the birth?
1
YES................................................................ 1
2
NO................................................................. 2
3

4
A3. Have you held the [baby/babies]?

In [33]:
print(text)

   A2. Were you present at the birth? YES................................................................ 1 NO................................................................. 2

test if lowercase letter, if so grab previous p as well.

In [34]:
answers = [p for p in a3 if len(p.find_all(string = consequitivedots))>0]

In [35]:
type(answers[0])

bs4.element.Tag

In [36]:
print(answers[0].prettify())

<p class="MsoNormal" style="margin-left:1.0in;line-height:150%;text-autospace:
none">
 <span style='font-size:11.0pt;line-height:150%;font-family:"Arial",sans-serif;
color:black'>
  YES................................................................ 1
 </span>
</p>

In [37]:
test_answers = [p for p in a3 if len(p.find_all(string = consequitivedots))>0]
for ans in test_answers:
    if re.match('^[a-z]{1}', ans.get_text().split('.')[0]):
        print(ans.find_previous('p').get_text() + ans.get_text().split('.')[0])
        print(ans.get_text().split("(")[0].split('.')[-1])
    else:
        print(ans.get_text().split('.')[0])
        print(ans.get_text().split('.')[-1])

YES
 1
NO
 2

In [38]:
def clean_text(string):
    return string.replace("\n"," ").strip()

def get_pairs(p):
    if re.match('^[a-z]{1}', p.get_text().split('..')[0]):
        if re.match('[()]{1}', p.get_text().split('..')[-1]):
            pairs = [p.find_previous('p').get_text() + ' ' + p.get_text().split('..')[0], p.get_text().split("(")[0].split('..')[-1]]
        else:
            pairs = [p.find_previous('p').get_text() + ' ' + p.get_text().split('..')[0], p.get_text().split('..')[-1]]
    else:
        if re.match('[()]{1}', p.get_text().split('.')[-1]):
            pairs = [p.get_text().split('..')[0], p.get_text().split("(")[0].split('..')[-1] ]
        else:
            pairs = [p.get_text().split('..')[0], p.get_text().split('..')[-1]]
    pairs = [clean_text(text) for text in pairs]
    return pairs
        
def get_answers(start_idx,stop_idx):
    if np.isnan(start_idx) or np.isnan(stop_idx):
        return ([],0)
    else:
        answers = [p for p in ps[int(start_idx):int(stop_idx)] if len(p.find_all(string = consequitivedots))>0]
        answers = [get_pairs(a) for a in answers]
        return(answers, len(answers))

In [39]:
df['answers'], df['n_answers'] = zip(*map(get_answers, df['ps_idx'], df['ps_idx_next']))

In [40]:
(df['answers'][16])

[]

In [41]:
x = 0
while x < len(df.answers):
    ans = df.answers[x]
    if len(ans) > 0:
        for y in range(len(ans)):
            df.loc[x,'val{0}'.format(y)] = ans[y][1] #create new 'val(y)' column
            df.loc[x,'lab{0}'.format(y)] = ans[y][0] #create new 'lab(y)' column
    x += 1

In [42]:
def clean_answers(col):
    col.str.replace('.','',1)

In [43]:
values = []
for i in range(0,18):
    values = values + ['val{0}'.format(i)]
    i += 1
for v in values:
    df[v] = df[v].map(lambda x: str(x))
    df[v] = df[v].map(lambda x: x.lstrip('.').strip())

In [44]:
df['val0']

0                            1
1                            1
2               1 (SKIP TO A6)
3                1 (GO TO A6A)
4                            1
5                          nan
6                          nan
7                          nan
8                          nan
9                          nan
10                         nan
11                         nan
12                         nan
13                         nan
14                         nan
15                         nan
16                         nan
17                         nan
18                         nan
19                         nan
20                         nan
21                         nan
22                         nan
23     1 (SKIP TO B22 ON P.14)
24     1 (SKIP TO B22 ON P.14)
25                         nan
26      1 (SKIP TO B8 ON P. 6)
27                           1
28                           2
29                           3
                ...
285                        nan
286                        nan
287                        nan
288                        nan
289             1  (GO TO I3A)
290                          1
291                        nan
292                        nan
293                        nan
294                        nan
295                        nan
296                        nan
297                        nan
298                        nan
299                        nan
300                        nan
301                        nan
302                        nan
303                        nan
304                        nan
305                        nan
306                        nan
307                        nan
308                        nan
309                        nan
310                        nan
311                          1
312                          1
313                        nan
314           1  (SKIP TO J13)
Name: val0, Length: 315, dtype: object

In [45]:
i = 0
while i < len(df.ps_text):
    if df.multiple_answers[i] == 1:
        df.loc[i,'val0'] = '1'
        df.loc[i,'lab0'] = 'YES'
        df.loc[i,'val1'] = '2'
        df.loc[i,'lab1'] = 'NO'
    i += 1

In [46]:
df.drop(['answers','n_answers','question_number','ps_idx','ps_idx_next'],axis=1,inplace=True)

In [47]:
df.head(20)

,position,name,varlab,multiple_answers,probe,ps_text,val0,lab0,val1,lab1,...,val78,lab78,val79,lab79,val80,lab80,val81,lab81,val82,lab82
0,451,m1a3,Have you picked up a (name/names) for the (bab...,0,Have you held the [baby/babies]?,Have you held the [baby/babies]?,1,YES,2,NO,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,452,m1a4,Is respondent married to baby's father?,0,Will the (baby/babies) have your last name?,Will the (baby/babies) have your last name?,1,YES,2,NO,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,453,m1a5,Will the baby (babies) have the father's last ...,0,Will your name be on the birth certificate?,Will your name be on the birth certificate?,1 (SKIP TO A6),YES,2 (GO TO A5A),NO,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,454,m1a6,Will the father's name be on the birth certifi...,0,Do you have any other biological children?,Do you have any other biological children?,1 (GO TO A6A),YES,2 (SKIP TO A7),NO,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,455,m1a7,Has BF visited you in the hospital?,0,Who (does/do) the (baby/babies) look like?,Who (does/do) the (baby/babies) look like?,1,ME,2,BABY’S MOTHER,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,456,m1a8,When are you going home?,0,NaN,NaN,nan,NaN,nan,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,457,m1a9,Do you feel ready to go home or would you rath...,0,NaN,NaN,nan,NaN,nan,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,458,m1a10,Int chk: Is respondent married to (BF)?,0,NaN,NaN,nan,NaN,nan,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,459,m1a11a,Will the baby live with mother?,1,NaN,NaN,1,YES,2,NO,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,460,m1a11b,Will the baby live with father?,1,NaN,NaN,1,YES,2,NO,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,461,m1a11c,Will baby live with other relatives?,1,NaN,NaN,1,YES,2,NO,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,462,m1a11d,Will baby live with non-relatives?,1,NaN,NaN,1,YES,2,NO,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,463,m1a12,Do you have other biological children?,0,NaN,NaN,nan,NaN,nan,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,464,m1a12a,How many other biological children do you have?,1,NaN,NaN,1,YES,2,NO,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,465,m1a13,Did you visit a doctor/other health care profe...,0,NaN,NaN,nan,NaN,nan,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,466,m1a13a,In which month of pregnancy did you 1st see do...,1,NaN,NaN,1,YES,2,NO,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,467,m1a15,How are you paying for the baby's birth?,0,NaN,NaN,nan,NaN,nan,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,468,m1a16,Who does the baby looks like?,0,NaN,NaN,nan,NaN,nan,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,469,cm1age,Constructed - Mother's age (years),1,NaN,NaN,1,YES,2,NO,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,470,cm1bsex,Constructed - Focal baby's gender,1,NaN,NaN,1,YES,2,NO,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [48]:
df.to_csv(path_or_buf = "m1Qtext.csv")